<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Box-Layout</title>
    <style>
      body {
        margin: 0;
      }
      h1 {
        background-color: red;
        margin: 0;
      }
      p {
        background-color: blueviolet;
      }
      .box1 {
        background-color: brown;
        padding: 10px;
        border: 10px solid goldenrod;
        margin: 10px;
      }
      .box2 {
        padding-bottom: 20px;
        background-color: blueviolet;
      }
    </style>
  </head>
  <body>
    <div class="box1">Box Layout One</div>
    <div class="box2">Box Layout Two</div>
  </body>
</html>
